.anpicker {
    --blue: #448aff;
    --blueHover: #3d7ce5;
    --border: #e0e3eb;
    --text: #323e54;
    --bg: #fff;
    --disabledBg: #f0f3fa;
    --fs12: 12px;
    --btnSize: 34px;
    position: relative;
    color: var(--text);
    font-size: var(--fs12);
    table {
        border-collapse: collapse;
        width: 100%;
        td {
            text-align: center;
        }
    }
    input {
        direction: ltr;
        text-align: left;
    }
    .popup {
        .main {
            display: flex;
            flex-direction: column;
            gap: 7px;
            position: absolute;
            background-color: var(--bg);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
            min-width: 234px;
            border-radius: 6px;
            padding: 0 10px;
            .selector-heading {
                display: flex;
                justify-content: space-between;
                svg {
                    path {
                        stroke: var(--text);
                    }
                }
                .monthes,
                .years {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    a {
                        cursor: pointer;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: var(--btnSize);
                        height: var(--btnSize);
                    }
                }
            }
            .days {
                .week {
                    background-color: var(--disabledBg);
                    font-size: var(--fs12);
                    border-radius: 6px;
                    th {
                        span {
                            width: 34px;
                            height: 34px;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
                .day {
                    position: relative;
                    button {
                        width: var(--btnSize);
                        height: var(--btnSize);
                    }
                    &.current:not(.selected) {
                        color: var(--blue);
                        button {
                            color: var(--blue);
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 5px;
                            height: 2px;
                            background-color: var(--blue);
                            width: calc(100% - 10px);
                        }
                    }
                }
            }
            .years {
                border-radius: 6px;
            }
            .selected {
                button {
                    background-color: var(--blue);
                    color: var(--bg);
                }
            }
            .btn-td {
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                border-radius: 6px;
                width: var(--btnSize);
                height: var(--btnSize);
            }
            .today-button {
                background: transparent;
                outline: none;
                border: none;
                border-top: solid 1px var(--border);
                height: 44px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
    }
}
