body {
  font-size: 12px;
  margin: 0;
  position: relative;
}
.row {
  display: flex;
}
.card {
  border: solid 1px #eee;
  padding: 10px;
  border-radius: 6px;
  width: 50%;
  margin: 20px;
}
.title {
  margin-bottom: 20px;
  font-size: 14px;
}
.test-wrapper {
  height: 1400px;
}
@media (max-width: 1200px) {
  .test-wrapper {
    height: 700px;
  }
  .modal-content {
    max-height: 100dvh;
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}
